.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
.dropbtn:hover {
  color: #CF7BF4;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: rgba(26, 17, 48, 0.75);
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  transition: 0.5 ease;
  transition: 0.5s;
  transform: scale(0);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #CF7BF4;
}

.dropdown:hover .dropdown-content {
  display: block;
  transform: scale(1);
}
