/* .circle {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  opacity: 0.3;
} */

.circle.sm {
  width: 20px;
  height: 20px;
}

.circle.md {
  width: 35px;
  height: 35px;
}

.circle.lg {
  width: 50px;
  height: 50px;
}
/* .details-box {
  position: relative;
  overflow: hidden;
}
.details-box .span {
  position: absolute;
  display: block;
}

.details-box .span:nth-child(1) {
  content: "";
  top: 0px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    113.1deg,
    #2be233 3.48%,
    #ff772a 38.5%,
    #ff3566 60.53%,
    #ff0095 78%
  );
  animation: btn-anim1 3s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.details-box .span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    113.1deg,
    #2be233 3.48%,
    #ff772a 38.5%,
    #ff3566 60.53%,
    #ff0095 78%
  );
  animation: btn-anim2 3s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.details-box .span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    113.1deg,
    #2be233 3.48%,
    #ff772a 38.5%,
    #ff3566 60.53%,
    #ff0095 78%
  );
  animation: btn-anim3 3s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.details-box .span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    113.1deg,
    #2be233 3.48%,
    #ff772a 38.5%,
    #ff3566 60.53%,
    #ff0095 78%
  );
  animation: btn-anim4 3s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
} */

@media screen and (max-width: 544px) {
  .MuiDialog-paperScrollPaper {
    width: 100%;
  }
}

body > iframe {
  pointer-events: none !important;

}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
div,
input,
textarea,
div {
  font-family: "Nunito Sans", sans-serif !important;
  /* background-color: black; */
}

* {
  scroll-behavior: smooth !important;

  font-family: "Nunito Sans", sans-serif !important;
}

.side_drawer ::-webkit-scrollbar {
  width: 0px;
}

.side_drawer ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #282439;
  border-radius: 10px;
  background-color: transparent;
}

.side_drawer ::-webkit-scrollbar-thumb {
  background: #282439;
  border-radius: 10px;
}

.side_drawer ::-webkit-scrollbar-thumb:hover {
  background: #1c8aff;
}

/* .timeline1 .vertical-timeline::before {
  height: 275px !important;
  top: 37px !important;
} */
/* .timeline2 .vertical-timeline::before {
  height: 615px !important;
  top: 34px !important;
} */

.mainTimeline .vertical-timeline::before {
  /* height: 75% !important;
  top: 72px !important; */
  background-color: transparent !important;
  border-left: 2px dashed #908795 !important ;
}
.sec-loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-loading .one {
  height: 80px;
  width: 80px;
  border: 7px solid #26202e;
  transform: rotate(45deg);
  border-radius: 0 50% 50% 50%;
  position: relative;
  animation: move 0.5s linear infinite alternate-reverse;
}
.sec-loading .one::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 55%;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #a642ba;
  border-bottom-color: #CF7BF4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes move {
  to {
    transform: translateY(15px) rotate(45deg);
  }
}

/* color scheem main  */

/* #CF7BF4     Purple
#a4a1a5     grey scale
#6A64DC     dark orange
#e2e506     yellow */


